<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @cutter.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @cutter.description %>
</p>

<h2>Comments</h2>
<%= render @cutter.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_cutter_path(@cutter) %> |
<%= link_to 'Back', cutters_path %>
